/* <!-- ---------- Header - Sección LAURA ---------- --> */
:root {
  --text-color: #14d9c4;
  --blue-green: #099d8d;
  --Rubik-font: "Rubik", sans-serif;
}

body {
  font-family: Rubik, sans-serif;
}

.header__base {
  height: 60px;
  width: 100%;
  background-color: #099d8ecf;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.header__base h1 {
  color: white;

  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
}

.rectangle {
  height: 60px;
  width: 100%;
  background-color: #14d9c4;
  opacity: 0.9;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-menu {
  color: white;
}

.sticky {
  width: 100%;
  z-index: 100;
  position: fixed;
}

/* <!-- ---------- Header - Sección LAURA ---------- --> */

/*------------------------hero seccion maria*-------------------------*/
.hero {
  width: 100%;
  height: 500px;
  background-color: thistle;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rectangle-2 {
  position: relative;
  width: 290px;
  height: 80px;
  top: -5%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 14px 15px 16px;
  background-color: white;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.lema {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: var(--black);
}
/* <!-- ---------- MARTA ---------- --> */

.team {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  margin-bottom: 30px;
}

.EQUIPO {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 45px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  font-family: var(--Rubik-font);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  color: var(--text-color);
}
.lorem {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #54585a;
  padding: 15px;
}
.FYD {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  padding: 30px 15px 45px;
  background-color: #f1f1f1;
  color: var(--strengths-descriptions);
  line-height: 24px;
}

.cuadrado {
  width: 50px;
  height: 50px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  transform: translate(0, 50%) rotate(45deg);
}

.h3 {
  color: var(--blue-green);
  font-family: var(--Rubik-font);
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
}

.parrafo {
  width: 290px;
  height: 192px;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
}

.parrafo2 {
  width: 290px;
  height: 192px;
  margin: 75px 0 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #54585a;
}

/* <!-- ----------fIN MARTA ---------- --> */

/* <!-- ---------- Quiénes somos - Sección ICO ---------- --> */

#about-us {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quienes-somos {
  font-size: 24px;
  color: #099d8d;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 0px;
}

.presentacion {
  /* background-color: #099d8d; */
  /* La línea de código max-width se puede quitar dependiendo de los requerimientos del proyecto */
  max-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px #f1f1f1;
  margin: 10px;
  object-fit: cover;
  object-position: top;
}

.my-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.about-me {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #54585a;
  margin: 10px 0px;
}

.social {
  margin-top: 20px;
  margin-bottom: 40px;
}

.social-icon {
  font-family: "Open Sans", sans-serif;
  display: inline;
  font-size: 16px;
  margin: 6px;
  color: #099d8d;
}

.dot {
  color: #099d8d;
}
/* <!-- ---------- Quiénes somos - Sección ICO ---------- --> */

/* <!-- ---------- Footer - Sección VICTORIA---------- --> */

.footer1 {
  width: 100%;
  height: 250px;
  border-top: 1px solid #b8b8b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 14px;
  font-family: "Open Sans";
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.Nombre-del-grupo-2 {
  width: 100%;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #b8b8b9;
}

.equipo-quienes-somos {
  width: 114px;
  height: 60px;
  margin-bottom: 30px;
  opacity: 0.75;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 115px;
  height: 45px;
  margin-bottom: 45px;
}

.footer-list {
  color: #54585a;
}

a {
  color: #54585a;
}
a:active {
  color: #54585a;
}
