
<form class="form"action="https://formspree.io/f/mrgrndpw" method="post">
    <label class="class-title" for="nombre">Nombre completo<span> *</span></label>
    <input class="placeholder1"id="nombre" type="text" placeholder="Nombre...">
    <label class="class-title" for="email">Email<span>*</span></label>
    <input class="placeholder2"id="email" type="email" placeholder="nombre.apellidos@mail.com">
    <label class="class-title"for="numero">Teléfono</label>
    <input class="placeholder1" id="numero" type="tel" placeholder="Ej:123456789">
    <label class="class-title"for="texto">Mensaje<span> *</span></label>
    <textarea class="placeholder1 textarea" id="texto" name="texto" rows="3" cols="80" placeholder="¿Qué necesitas?"></textarea> 
    <input class="button" type="submit" value="Enviar">

</form>