<form class="form" action="https://formspree.io/f/mrgrndpw" method="post">
  <label class="__label" for="nombre">Nombre completo<span class="__label --span"> *</span></label>
  <input class="__input" id="nombre" type="text" placeholder="Nombre..." />

  <label class="__label" for="email">Email <span class="__label --span">*</span></label>
  <input class="__input --email" id="email" type="email" placeholder="nombre.apellidos@mail.com" />

  <label class="__label" for="numero">Teléfono</label>
  <input class="__input" id="numero" type="tel" placeholder="Ej:123456789" />
  </div>

  <label class="__label" for="texto">Mensaje<span class="__label --span"> *</span></label>
  <textarea class="--textarea" id="texto" name="texto" rows="3" cols="80" placeholder="¿Qué necesitas?"></textarea>

  <input class="--bottom" type="submit" value="Enviar" />
</form>