.team {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px 30px 15px;
  margin-top: -80px;
  @media all and (min-width: 768px) {
    height: 200px;
  }
}

.EQUIPO {
  box-sizing: border-box;
  text-align: center;
  font-family: $rubikFont;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  color: $textColor;
  padding-top: 15px;
  padding-bottom: 15px;
  scroll-margin: 125px;
  @media all and (min-width: 768px) {
    transform: translateY(50%, -50);
  }
}
.lorem {
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
  font-size: 16px;
  line-height: 1.5;
  max-width: 290px;
  @media all and (min-width: 768px) {
    transform: translateY(-40%);
  }
}

.FYD {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #f1f1f1;
  color: var(--strengths-descriptions);
  line-height: 24px;

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 450px;
  }
}

.cuadrado {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  transform: translate(0, 50%) rotate(45deg);
}

.h3 {
  color: $blueGreen;
  font-family: $rubikFont;
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
}

.parrafo {
  box-sizing: border-box;
  max-width: 290px;
  height: 50%;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
  padding-bottom: 30px;
  @media all and (min-width: 768px) {
    width: 324px;
  }
}
